/* CSS Reset */
* { 
	margin:0;
	padding:0; 
	font-size:; 
	line-height:1; 
	box-sizing: border-box; 
	font-family: helvetica;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: red;
}
html {
	max-height:100vh;
	height: 100vh;
}
body {
	max-height: 100vh;
	color: white;
	text-align: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(to bottom right, #360033, #0b8793);
	overflow: hidden;
}
nav {
	background-color:;
	height:;
	overflow: hidden;
}
nav p {
	padding: 1%;
  margin: 0px;
	float:left;
  text-align:;
  display:inline;
  vertical-align:top;
}
nav ul{
	padding: 1%;
  margin: 0px;
  float: right;
  display:inline;
  vertical-align:top;
}
nav li {
	margin-top:;
	display: inline;
}
#main-header {
	overflow:hidden;
	margin: auto;
	width: 70%;
	background-color:;
	padding-top:10%;
}
#main-content {
	padding-top: 5%;
	margin: auto;
	width: 70%;
}
footer {
	padding: 1%;
	background-color:;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}